.DS_Store
.env
.idea
.nyc_output
.vscode/*
/.run
/files
apidoc/
coverage/
dist/
distDatabase/
lambda/resizer/resizer.zip
logs/
node_modules/
package-lock.json
swagger/
tmp/
yarn-error.log
yarn.lock
newrelic_agent.log
